ul {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

body {
  margin: 0%;
}

.read_more {
  text-decoration: underline;
}

.category_list_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 10%;
  gap: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  flex-wrap: wrap;
  font-size: 90%;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

.logo {
  text-align: center;
  padding-top: 1%;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
}

.foto {
  width: 100%;
  padding: 0%;
}

.products-grid img {
  width: 100%;
  margin-top: 10%;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;

  margin-bottom: 5%;
  gap: 3%;
}

.product_list_container {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 6;
}

.product_list_container h2,
.product_list_container p {
  width: 100%; /* Gør teksten lige så bred som containeren */
  white-space: normal; /* Sørger for, at teksten kan brydes */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
}

h2 {
  font-size: 90%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

.product img {
  width: 100%;
}

.product {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 5%;
}

/* Container til produktet */
.productContainer {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  max-width: fit-content;
  width: 100%;
}

.addtocart {
  background-color: beige;
  width: 30%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 6%;
}

.sold_out {
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 2%;
}

.strike_through {
  text-decoration: line-through;
}

.nedsat {
  width: 20%;
  background-color: bisque;
  margin-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 1%;
}
@media (min-width: 1024px) {
  .category_list_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    font-size: 110%;
  }

  ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
  }

  a:link {
    text-decoration: none;
  }

  a {
    color: black;
  }

  .logo {
    text-align: center;
    padding-top: 1%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .products-grid img {
    width: 100%;
    margin-top: 5%;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;

    margin-bottom: 5%;
    gap: 3%;
  }

  .product_list_container h2,
  .product_list_container p {
    width: 100%; /* Gør teksten lige så bred som containeren */
    white-space: normal; /* Sørger for, at teksten kan brydes */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
  }

  .product_list_container h2 {
    font-size: 120%;
    margin-top: 10%;
  }

  .product_list_container p {
    font-size: 100%;
  }

  .product img {
    width: 100%;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 5%;
  }

  h2 {
    font-size: 120%;
  }

  p {
    font-size: 100%;
  }

  .addtocart {
    background-color: beige;
    width: 30%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 6%;
  }

  .product_text {
    margin-left: 5%;
  }
}
